html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  paddinig: 0;
  background-color: #fffbf5;
  line-height: 1.5;
  font-family: 'Catamaran', sans-serif;
}
nav {
  width: 100%;
  margin: 0 auto;
  background: #fffbf5;
  padding: 0.2em 0;
  border-bottom: 1px solid #221f20
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #221f20;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #949494;
}

h1 {
font-family: 'Marcellus', serif;
font-size: 35px;
}
.about {
  width: 100%;
  padding; 78px 0px;
}

.about img {
  height: auto;
  width: 420px;
}
